<div class="index boards">
  <% @boards.each do |board| %>
    <div class="board">
      <span class="board-name">
        <%= link_to board.name, board_path(board), class: "board-link"  %>
      </span>
    </div>
  <% end %>
  <div class="add board">
    <%= link_to "Add Board", new_board_path %>
  </div>
</div>
