<form class="add-due-date-form" action='<%= cards_add_due_date_path(@card) %>' method="post" data-remote="true">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    <!-- <input name="name" placeholder="lbl1, lbl2, ..." class="form-control" /> -->
    <div class='input-group date' id='datetimepicker2'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
        <button class="btn btn-success">Add</button>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>
