$('.add-due-date-form').remove();

$('.side-bar-due-date').show();

$('.due-date-value').html('<% if @card.dead_line != nil %><span class="due-date-content"><%= @card.dead_line.strftime("%B %d, %Y") %></span><% end %>');
