/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

.btn {
  font-size: inherit;
}

.nav {
  height: 30px
}

.navbar.navbar-default {
  background-color: #ffffff
}

.navbar {
  margin-bottom: 0px;
  border: 0;
  border-radius: 0px;
}

.navbar-brand {
  //padding-top: 25px;
  font-family: 'Oleo Script', cursive;
  font-weight: bold;
}

.nav li a {
  // padding-top: 22px;
  // padding-bottom: 18px;
}

.navbar-form {
  //padding-top: 7px;
}

.form-control {
  font-size: inherit;
}

.form-group input {
  font-size: inherit;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  // color: TODO
  background-color: rgba(100,100,100,0.1);
}

html {
  font-family: "jaf-facitweb","Helvetica Neue",Arial,sans-serif;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #fcfcfc;
  padding: 0px;
  margin: 0px;
  font-size: 12px;
}

.centr-div {
  // width: 100%;
  // text-align: center;
}
.centr-div div{
  //display: inline-block;
}
