// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  text-decoration: none;
  color: black;
}
//////// Index Boards ///////////////
.index-boards {
 display: flex;
 flex-wrap: wrap;
}

.index-boards .board {
  width: 250px;
  height: 100px;
  background-color: lavender;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: black;
}

.index-boards .board a {
  display: flex;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: grey;
  padding: 10px;
}

.index-boards .add-board {
}

.index-boards .add-board a {
  color: grey;
  justify-content: center;
  align-items: center;
}

.index-boards a:hover {
  background-color: hsla(0, 100%, 90%, 0.2);
}
//////// Index Boards -- End ///////////////

//////// Show Boards ////////////////
.board-name a.board-name {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 25px;
}

.show-boards {
 display: flex;
 flex-wrap: wrap;

}

.show-boards .list {
  width: 250px;
  background-color: lavender;
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
  padding: 10px;
  color: black;
  //display: flex;
}

.show-boards .list .list-name .list-link {
  font-size: 18px;
  font-weight: bold;
}

.show-boards .new-link {
  border-radius: 5px;
  background-color: lavender;
  margin: 10px 10px 10px 0px;
  padding: 10px;
}

.show-boards .new-link a {
  width: 250px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
//////// Show Boards -- End ////////////////

//////// Show Boards-Lists-Cards ////////////////////////
// '.list' is styled above as '.show-boards .list'

//////// Show Boards-Lists-Cards -- End ////////////////
