.welcome-page {
  font-family: 'Ubuntu', "Helvetica Neue", Arial, sans-serif;
}


.first-row {
  font-weight: bold;
  padding-top: 60px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
}

.first-row h1 {
  font-weight: 600;
}

.first-row h2 {
  font-weight: 500;
}

div.welcome-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.form-group.sign-in {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.first-row submit {

}

.form-group input {
  border-color: grey;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 3px;
  height: 30px;
  color: #2f040d;
  font-size: 15px;
  font-weight: normal;
  padding: 0 5px
}

#sign-in-submit, #sign-up-submit {
  font-weight: 500;
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.second-row {
  background-color: #31708f;
  color: white;
  font-weight: bold;
  padding-top: 60px;
  padding-bottom: 100px;
}

.sign-up-content {
  margin-left: 60px;
  margin-right: 60px;
}
